.App {
text-align: center;
}

img {
  width: 40%;
 }


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1{text-align: center;}

.topbar
{
  align-content: center;
  justify-content: center;
  height: 100px;
  background-color: #2d3497;
  position: sticky;
  top: 0;
  left: 0;

}

header
{
  color: aliceblue;
  font-weight: 800;
}

header a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: linear-gradient(to bottom, darkred, red);
}

div.linktable
{
  width:70%;
  display: flex;
  justify-content: center;
  background-color: rgb(219, 219, 219);
  gap: 10px;
  border: 2px solid black;
}

div.useColumns{
  display: flex;
  justify-self:center;
  gap: 10px;
  width:80%;
  margin-top: 20px;
}

body{
  background-color: rgb(238, 238, 238);
}

section.individualSiteDetails{
  display:flex;
  flex-direction: row-reverse;
  gap: 30px;
  padding: 3%;
}

section.sectionDescription{
  background: linear-gradient(to bottom, rgba(255, 242, 242, 0.668), rgba(199, 5, 5, 0.46));
  width:40%;
  border: 2px solid black;
}
section.sectionDescription p{
  text-align: left;
  margin: 10px;
}

div.useColumns h3{
  text-wrap: wrap;
}

a{
  color: darkblue;
}

img
{
  border: black solid 2px;
}