.App {
text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  img {
    /* animation: App-logo-spin infinite 2s linear; */
    width: 40%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{text-align: center;}

div.linktable
{
  width:70%;
  display: flex;
  justify-content: center;
  background-color: rgb(219, 219, 219);
  gap: 10px;
  border: 2px solid black;
}

div.useColumns{
  display: flex;
background-color: #a7b1b4;
 border: 2px solid rgb(24, 16, 59);

}
div.useColumns section p {text-align: center;}
/* 
#individualSiteDetails{

  display:flex;
  flex-direction: column;

} */