.App {
text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  img {
    /* animation: App-logo-spin infinite 2s linear; */
    width: 40%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



h1{text-align: center;}

.topbar
{
  align-content: center;
  justify-content: center center;
  height: 50px;
  background-color: #2d3497;

}
header
{
  
  color: aliceblue;
  
  font-weight: 800;
  
 
}

div.linktable
{
  width:70%;
  display: flex;
  justify-content: center;
  background-color: rgb(219, 219, 219);
  gap: 10px;
  border: 2px solid black;
}

div.useColumns{
  display: flex;
 justify-self:center;
background-color: #a7b1b4;
 border: 2px solid rgb(0, 0, 0);
 width:60%;
 
 

}

body{background-color: rgb(238, 238, 238);}

section.individualSiteDetails{

  display:flex;
  flex-direction: row-reverse;
  gap: 30px;
  
  padding: 3%;
}
#map{
  border: 2px solid rgb(168, 194, 168);
  width:60%;
}
section.sectionDescription{
  background-color: #cccccc;
  width:40%;
  
}

div.useColumns h3
{width: 30%;
text-wrap: wrap;}


img
{
  border: black solid 2px;
}